<!DOCTYPE html>
<html>
    <head>
        <title>BlogMap - Contattaci</title>

        <!-- Meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="css/bootstrap.css" type="text/css">

        <!-- CSS -->
        <link  href="css/stili-custom.css" rel="stylesheet" type="text/css">

        <!-- CSS Leaflet -->
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
        <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>

        <!-- Javascript -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" lang="javascript" src="js/bootstrap.js"></script>
        <script type="text/javascript" lang="javascript" src="js/bootstrap.bundle.js"></script>

        <!-- Font di Facebook, Instagram e YouTube -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>

    /* Menù */
    <header>
        <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-info fixed-top">
            <a class="navbar-brand" href="http://localhost:4000/Home">BlogMap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="http://localhost:4000/Home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="http://localhost:4000/miopiano">Pianificazione <span class="sr-only"></span></a>
                    </li>
                </ul>
            </div>
            <div>
                <div class="row">
                    <div class="col" id="FotoProfilo">
                        <img src="<%= FotoProfilo %>" width="40px"></img>
                    </div>
                    <div class="col">
                        <div class="dropdown">
                            <button class="btn btn-success dropdown-toggle" style="width: 200px;" type="button" id="dropdownMenuButton" data-toggle="dropdown"><span class="caret"></span><%= NomeProfilo %> <%= Cognome %></button>
                            <ul class="dropdown-menu" style="width: 200px;">
                                <li><a href="http://localhost:4000/logout">Esci</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <body>

        <!-- Sfondo -->
        <div>
            <img id="sfondoContatti" src="Immagini/Parquet.png">
        </div>

        <!-- Container principale -->
        <div class="container" id="containerContatti">
            <div id="titoloContattaci">
                <h1>Contattaci ora</h1>
            </div>

            <div id="divCorpoContattaci">
                <div class="row">
                    <div class="col">
                        <div class="container" id="corpoContattaci">
                            <p style="color: grey;">Se vuoi saperne di più sui nostri servizi, vuoi segnalare un malfunzionamento del sito,
                            o hai bisogno di aiuto, puoi contattarci telefonicamente o via Email.</p>
                        </div>
                        <div class="container" id="informazioniContattaci">
                            <h4 style="color: grey;">Informazioni</h4>
                            <p>Sede: Via dei reti, Roma</p>
                            <p>Email: blogmapcreators@gmail.com</p>
                            <p>Telefono: +39 346235890</p>
                        </div>
                        <div class="container" id="socialContattaci">
                            <h4 style="color: grey;">Social</h4>
                            <a href="https://www.facebook.com/BlogMap-105352714530591/?modal=admin_todo_tour"><i class="fa fa-facebook">Facebook</i></a>
                            <br>
                            <a href="https://www.instagram.com/blogmapinsta/?hl=it"><i class="fa fa-instagram">Instagram</i></a>
                            <br>
                            <a href="https://www.youtube.com/channel/UCRF50KqainAT5MCgtJRR0Cw/featured?view_as=subscriber"><i class="fa fa-youtube">YouTube</i></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="container" id="mappaContattaci">
                            <div id='mymap3'> </div>
                            <script>
                                var map = L.map('mymap3').setView([41.898831, 12.518449], 16);
                                var OSM_layer =L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png',
                                {attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a>'}).addTo(map);
                                var marker = L.marker([41.898831, 12.518449]).addTo(map);
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="footer-bar bg-info text-center" id="footer1">
            <div id="immagineFooter">
                <img src="Immagini/Logo.jpg" id="Logo">
                <br>
                <label>&copy;Blogmap 2020</label>
            </div>
            <div id="linkFooter">
                <a href="http://localhost:4000/Chi_siamo" style="color: white;">Chi siamo</a>
                <br>
                <a href="http://localhost:4000/Contattaci" style="color: white;">Contattaci</a>
                <br>
                <a href="http://localhost:4000/FAQ" style="color: white;">FAQ</a>
            </div>
        </div>
    </body>
</html>